<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
     
      <class name="Amazon.Amazon.Login_Page_Test"/>
      <class name="Amazon.Amazon.Amazon_logo"/>
      
      
      <class name="Amazon.Amazon.Search_Page_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
